# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Venv
.venv/

# Tests
.pytest_cache/

# Env
.env
.env.*

# Weights and Biases
wandb/
*.wandb

# Weights
checkpoints/
*.pth
*.pt
*.ckpt

# Logs
logs/

# VS Code
.vscode/