# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Venv
.venv/

# Tests
.pytest_cache/

# Env
.env
.env.*

# Weights and Biases
wandb/
artifacts/
*.wandb

# Weights
finetuned_model/
rl_model/
DeepSeekCoder67Instruct/
Qwen25Coder7Instruct/
Qwen25Coder15Instruct/
DeepSeekCoder67InstructRL/
Qwen25Coder7InstructRL/
Qwen25Coder15InstructRL/
checkpoints/
*.pth
*.pt
*.ckpt

# Logs
run_logs/
logs/
feedback_logs.jsonl
sample_cpp/
rl_tmp_codes/

# VS Code
.vscode/